@model IEnumerable<Ejar_new.Models.Apartment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bathroom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pictures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area.area_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bathroom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pictures)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area.area_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.apartment_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.apartment_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.apartment_id })
        </td>
    </tr>
}

</table>
